.Sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--sidebar-width);
    height: calc(100vh - var(--navbar-height));
    padding: 10px;
    background-color: var(--panels-bg-color);
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.langSwitcher {
    margin-right: 8px;
}
