@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font-size: 16px;
}

.navbar {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.nav-link {
  text-decoration: none;
  margin-right: 12px;
}