@import "reset";
@import "variables/global";
@import "themes/light";
@import "themes/dark";

.app {
  font: var(--font-m);

  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.navbar {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.nav-link {
  text-decoration: none;
  margin-right: 12px;
}