* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-size: 16px;
}

.navbar {
  display: flex;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: blanchedalmond;
}

.nav-link {
  text-decoration: none;
  margin-right: 12px;
}