.spButtonContainer {
    background-color: pink;

    .spButton {
        padding: 4px 10px;
        background-color: deepskyblue;
        border: none;
    }
}

.kebab-case-class {
    background-color: gold;
}